<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.each do |error| %>
      <%= turbo_stream.append "toast" do %>
        <% generate_toast(error.full_message) %>
      <% end %>
    <% end %>
  <% end %>

  <div class="mb-3">
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>

  <div class="mb-3">
    <%= form.text_area :body, rows: 12, class: "form-control", placeholder: "Content" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
