<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="utf-8">

    <title><%= @page_title %>></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="<%= @seo_description %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <%= video_tag(
        "technologies.mp4",
        class: "body-background",
        autoplay: true,
        loop: true,
        muted: true,
        poster: "main_background.jpg",
      ) %>

      <%= render "shared/application_nav" %>

      <main class="px-3">
        <%= yield %>
      </main>

      <%= render "shared/application_footer" %>
      <%= render "shared/flash" %>

      <%= source_greeting %>
    </div>
  </body>
</html>
